body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
}

#perso {
    display: none;
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #155BFF;
    justify-content: center;
    align-items: center;
}

p {
    color: white;
    margin: 0px;
}

h6 {
    color: white;
    margin: 0px;
}

li {
    color: white;
    margin: 0px;
}

.fenetre1 {
    width: 50%;
    padding: 0;
    height: 100%;
    background-color: #15FFD4;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fenetre1:hover {
    padding: 0 10%;
}

a {
    width: 100px;
    height: 15%;
    background-color: #22C5FF;
    -webkit-text-fill-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-radius: 30%;
    transition: all 0.3s;
}

a:hover {
    padding: 35px;
}

#openFiche {
    width: 20%;
    height: 100%;
    background-color: #1381E8;
    padding: 0;
    transition: all 0.8s;
}

#closeFiche {
    background-color: #1381E8;
}

#openFiche:hover {
    padding: 22%;
}

#closeFiche:hover {}